.trending {

  margin-top: 0px;


}

.btn-text-right {
  margin-top: -20px;
  text-align: right;
  padding-bottom: 50px;
}

.t {
  padding-top: 30px;

}

.n {
  background-color: rgb(245, 245, 239);
}