
.bi-megaphone-fill
 {
    background-color: #2769d9; 
   
    color: white;
    padding: 5px 5px;
  width:30px;
  height: 30px;
    margin: 10px 10px;
   
}
.bi-bell-fill{
    background-color: #d8dfe5; 
    padding: 5px 5px;
    width:30px;
    height: 30px;
      margin: 10px 10px;
    color: rgb(109, 106, 106);
}
.bi-gear-fill{
    background-color: #d8dfe5; 
    padding: 5px 5px;
    width:30px;
    height: 30px;
      margin: 10px 10px;
    color: rgb(109, 106, 106);
}
.bi-chat-left-text-fill{
    background-color: #d8dfe5; 
    padding: 5px 5px;
    width:30px;
    height: 30px;
      margin: 10px 10px;
    color: rgb(109, 106, 106);
}


.dd{
  margin-inline-start:650px;

    
}
