 .color{
    background-color: white;
  float: left;
 height: 300px;
padding-bottom: 70px;



} 
.owner-photo{
  border-radius: 50%;
  width: 40px;
 
}
.card-text{
  
  
 
  display: inline;
  
 
  
  }
 .row{
  
 
  display: inline-flex ;

  
 }
.col{
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 400px;
}

