.card {
  height: 100%;
}

.icon-md {
height: 2.5rem;
width: 2.5rem;
font-size: 0.9em;
display: inline-flex;
align-items: center;
justify-content: center;
}

.heart {
cursor: pointer;
}

.heart.liked i {
color: red ;
}
